* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.cntr {
  display: flex;
  flex-wrap: wrap;
  padding: 141px 0px;
  row-gap: 75px;
  column-gap: 50px;
  justify-content: center;
}

.main-container {
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-container-2 {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #e1d9d1;
  border-radius: 24px;
}

/*   display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: 50px;
  margin-top: 141px;
  padding-left: 5%;
  padding-right: 5%;
  */
